@import './variables.scss';

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  header {
    text-align: center;

    h1 {
      font-family: $font-header;
      font-size: 3rem;
      text-transform: uppercase;
    }
  
    .restaurant__search {
      display: inline-block;
      width: auto;
      font-family: $font-header;
      font-size: 1.4rem;
      border-radius: 2rem;
      background-color: $color-gray-light;
      color: $color-gray;
      padding: 1rem;
  
      input {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 400;
        border: none;
        background-color: transparent;
      }
    }
  }

  footer {
    z-index: 3;
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: right;
  
    a {
      margin: 1rem;
      font-family: $font-header;
      text-decoration: none;
      color: darken($color: $color-gold, $amount: 20%);

      span {
        margin: 0.2rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .App {
    header {
      h1 {
        font-size: 2rem;
      }
    }
  }
} 
