@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Varela+Round&display=swap);

$font-body: 'Open Sans', sans-serif;
$font-header: 'Varela Round', sans-serif;

$color-white: #ffffff;
$color-light: #f1f3fd;
$color-blue-light: #c2c3e7;
$color-blue: #acd4fd;
$color-tan: #e5d8a1;
$color-gray-light: #f7f6fb;
$color-gray: #c0c0b3;
$color-gray-dark: #778374;
$color-brown: #423237;
$color-orange: #c94e3b;
$color-pink: #fface4;
$color-gold: #e5aa66;
$color-black: #222222;

$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-lg: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
